.container {
  main {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-device-width: 678px) {
    main {
      min-height: calc(100% - 60px);
      position: fixed;
    }
  }
}
