#header {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: var(--color-texts);

  div {
    display: flex;
    gap: 15px;
  }

  h1 {
    font-size: 4em;
    font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  i {
    font-size: 2.5em;
    cursor: pointer;
    transition: filter 0.2s;

    :hover {
      filter: brightness(0.97);
    }
  }
}
