.keyboardKeyContainer {
  flex: 1;
  border: 0;
  background-color: var(--color-keyboard-background);
  border-radius: 5px;
  color: var(--color-texts);
  font-size: 2.5em;
  font-weight: 700;
  cursor: pointer;
  font-weight: 500;
  height: 100%; 

  &.keyboardKeyFake {
    background: transparent;
    border-color: transparent;
    flex: .5;
  }

  &.keyboardSpecialKey {
    flex: 1.5;
    font-size: min(2.25em, 3vw);
  }
}
