main {
  min-height: calc(100vh - 55px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  color: var(--white);
  border-bottom: 1px solid var(--gray-900);

  .title {
    font-family: "Fira Sans Condensed", Arial;
    font-weight: 700;
    font-size: 3.5em;
  }
}
