.boardContainer {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 4rem;
  
  .boardContent {
    width: 90%;
    max-width: var(--board-width);
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 5px;
  }
}
