.boardLetterContainer {
  flex: 1;
  background-color: var(--color-board-background);
  border: 4px solid var(--color-board-border);
  border-radius: 10px;
  cursor: pointer;
  font-size: min(4.8em, 10vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--color-texts);
  transition: border-bottom .05s;
  aspect-ratio: 1;

  &.boardLetterSelected {
    border-bottom: 10px solid var(--color-board-border);
  }

  @media (max-width: 400px) {
    &.boardLetterSelected {
      border-bottom: 7px solid var(--color-board-border);
    }
  }

  @media (max-width: 350px) {
    border-radius: 5px;
    border-width: 3px;
  }

  &.boardLetterAnimate {
    animation-duration: .35s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
  }

  &.boardLetterCorrect {
    background-color: var(--color-state-correct);
    border-color: var(--color-state-correct);
    animation-name: 'correct-animation';
  }

  &.boardLetterAbsent {
    background-color: var(--color-state-absent);
    border-color: var(--color-state-absent);
    animation-name: 'correct-animation';
  }

  &.boardLetterPresent {
    background-color: var(--color-state-present);
    border-color: var(--color-state-present);
    animation-name: 'correct-animation';
  }
}
